* {
  margin: 0;
  padding: 0;
}

h1{
  margin: 5px;
  text-align: center;
}


#containerLogomarca {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 10px;
  background-color: rgb(0, 0, 0, 50%);
}

#logomarca {
  width: 200px;
  height: auto;
}

.navigationBar  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #555555;
  height: fit-content;
  padding: 5px;
}

.navigation-btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
  row-gap: 10px;
}

.navigationButton {
  font-family: 'Liberation Mono', serif;
  text-transform: uppercase;
  color: #555555;
  text-decoration: none;
  background-color: rgb(255, 255, 255, 50%);
  height: fit-content;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}

.navigationButton:hover {
  background-color: rgb(0, 0, 0, 50%);
  color: white;
}

#action-img {
  filter: invert(100%);
  width: 30px;
  height: auto;
}

input, .action-btn, #action-img {
  display: none;
}

#pageContent{
  position: relative;
  min-height: 100vh;
}

.contentBlock {
  width: 80%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #555555;
  color: white;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 40px;
  border-radius: 20px;
  text-align: center;

  hr{
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  }
}

div.contentBlock{
  padding-bottom: 20px;

  h2{
    color: white;
    margin: 5px;
  }
}

#nexusEmail{
  word-break: break-all;
  font-weight: bold;
 color:  yellowgreen;
}

#contactContent{
  text-align: justify;
  font-size: 18px;
  padding-left: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin-top: 5px;
}

.formInput{
  width: 80%;
  height: 25px;
  border-radius: 10px;
}

textarea.formInput{
  height: 100px;
}

#formSubmit{
  width: 150px;
  height: 30px;
  border-radius: 10px;
  background-color:  yellowgreen;
  font-size: 16px;
  color: white;
  font-weight: bold;
}

footer {
  bottom: 0;
  position: absolute;
  background-color: #555555;
  color: white;
  width: calc(100% - 30px);
  height: 100px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  ul {
    list-style: none;
  }
}

#footer-img {
  filter: invert(100%);
  aspect-ratio: 1 / 1;
  width: 88px;
}

@media screen and (max-device-width: 380px) {

  #logomarca {
    width: 75%;
  }
}


@media screen and (max-device-width: 457px) {
  .navigation-btns{
    display: none;
  }

  #action-img {
    display: flex;
  }

  input:checked ~ .navigation-btns{
    display: flex;
    flex-direction: column;
    padding: 5px;
  }

  input:checked ~ label{
    rotate: 180deg;
  }
}
