* {
  margin: 0;
  padding: 0;
}

#containerLogomarca {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 10px;
  background-color: rgb(0, 0, 0, 50%);
}

#logomarca {
  width: 200px;
  height: auto;
}

.navigationBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 45px;
  row-gap: 10px;
  background-color: #555555;
  height: fit-content;
  padding: 10px;
}

a.navigationButton {
  color: #555555;
  text-decoration: none;
  font-family: 'Liberation Mono', serif;
  text-transform: uppercase;
}

div.navigationButton {
  background-color: rgb(255, 255, 255, 50%);
  height: fit-content;
  width: fit-content;
  padding: 5px;
  border-radius: 10px;

}

div.navigationButton:hover {
  background-color: rgb(0, 0, 0, 50%);

  a.navigationButton {
    color: white;
  }
}

#container-content {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.sideBar {
  width: 20%;
  height: 101vh;
  margin-top: 0px;
  background-color: #999999;
  display: flex;
  justify-content: center;
  text-align: center;
}

.topicsIframe {
  width: 55.5%;
  background-color: white;

  p {
    align-content: center;
  }

  iframe {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    border-radius: 15px;
  }
}

#leftBar {
  border-top-right-radius: 25px;
}

#rightBar {
  border-top-left-radius: 25px;
}

#filter, #formulárioAccount {
  background-color: #555555;
  width: 90%;
  height: fit-content;
  text-align: center;
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
}


#account {
  input {
    margin-top: 5px;
    width: 90%;
    height: 25px;
    border-radius: 10px;
  }
}

#Buttons {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

#accountSubmit, #accountCreate {
  width: 120px;
  height: 30px;
  border-radius: 10px;
  background-color: yellowgreen;
  font-size: 70%;

  b {
    color: white;
  }
}

#accountCreate {
  background-color: white;
  font-size: 65%;

  b {
    color: #555555;
  }
}

#accountCreate:hover {
  opacity: 90%;
}

#accountSubmit:hover {
  opacity: 90%;
}

#filter-options {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;

}

#filter-title, #form-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

div.filterList {
  margin-bottom: 5px;
  border-radius: 10px;
  width: 80%;
  height: auto;
  padding: 5px;
}

a.filterList {
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-size: 15px
}

#tecnologiaDaInformaçao {
  background-color: cadetblue;
}

#tecnologiaDaInformaçao:hover {
  opacity: 90%;
}

#inteligenciaFinanceira {
  background-color: yellowgreen;
}

#inteligenciaFinanceira:hover {
  opacity: 90%;
}

#realidadeBrasileira {
  background-color: goldenrod;
}

#realidadeBrasileira:hover {
  opacity: 90%;
}

@media screen and (max-device-width: 950px) {
  a.filterList {
    font-size: 12px;
  }

  #filter-title, #form-title {
    font-size: 18px
  }

  #accountSubmit, #accountCreate {
    width: 80%;
  }

  #Buttons {
    gap: 5px;
  }


  @media screen and (max-device-width: 630px) {
    #container-content {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .sideBar {
      width: 100%;
      height: fit-content;
      margin-top: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      align-items: center;
    }

    #leftBar, #rightBar {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }

    #leftBar.sideBar {
      margin-bottom: 15px;
    }

    #rightBar.sideBar {
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
    }


    #filter-options {
      flex-wrap: nowrap;
      gap: 15px;
    }

    #filter-title, #form-title {
      font-size: 24px;
    }

    div.filterList {
      width: 25%;
    }

    a.filterList {
      font-weight: bold;
      text-decoration: none;
      color: white;
      font-size: 15px
    }

    .topicsIframe {
      width: 90%;
    }
  }

  @media screen and (max-device-width: 457px) {
    a.filterList {
      font-size: 10px;
    }
  }

  @media screen and (max-device-width: 380px) {
    #filter-options {
      flex-wrap: wrap;
      gap: 5px;
    }

    div.filterList {
      width: 90%;
    }

    #logomarca {
      width: 75%;
    }
  }

}
