*{
  margin: 0;
  padding: 0;
}

body{
  margin: 20px;
}



.topic{
  background-color: #555555;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 40px;
  border-radius: 10px;
}

.topic-link{
  text-transform: uppercase;
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.topic-link:link{
  color: white;
}

.topic-link:visited{
  color: yellowgreen;
}

.topic-link:hover{
  opacity: 80%;
}

hr{
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.topic-description{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1%;
  padding: 5px
}

.description-image{
  float: left;
  width: 200px;
  height: auto;
  border-radius: 10px;
  margin-right: 5px;
  margin-bottom: 1px;
}

.description-content{
  text-align: justify;
}

@media screen and (max-device-width: 630px) {
  .topic-link {
    font-size: 20px;
  }

  .topic-description{
    flex-direction: column;
  }

  .description-content{
    font-size: 14px;
  }
}

@media screen and (max-device-width: 480px) {
  .topic-link{
    font-size: 16px;
  }

  .description-image{
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    height: auto;
  }
}
