#topic{
  background-color: #555555;
  color: white;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-radius: 10px;
}

#topicTitle{
  text-transform: uppercase;
  margin: 5px;
  text-align: center;
}

#return{
  color: white;
  text-decoration: none;
}

hr{
  width: 96%;
  margin-left: 5px;
}

dd{
  text-align: justify;
  padding-left: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin-top: 5px;
}

iframe{
  aspect-ratio: 16 / 9;
  width: 95%;
  border-radius:15px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}


.topic-description{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1%;
  padding: 5px
}

#description-image{
  float: left;
  width: 200px;
  height: auto;
  border-radius: 10px;
  margin-right: 5px;
  margin-bottom: 1px;
}

.description-content{
  text-align: justify;
}

@media screen and (max-device-width: 630px) {
  .topic-description{
    flex-direction: column;
  }

  .description-content{
    font-size: 14px;
  }
}

@media screen and (max-device-width: 480px) {

  #description-image{
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    height: auto;
  }
}

